header { text-align: center;
    background-color: blue;
    color: white;
    border-color: white;
    border-style: solid;
    margin: 2%;

}
body { background-color: black; margin: 2%;}

ul {background-color:black;
    color: white;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin: 2%;
    list-style-type:circle;
}
div {background-color: aqua;
    color: black;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin: 2%;

}
 ol {text-align:start;
    background-color:black;
    color: white;
    border-color: white;
    border-style: solid;
    margin: 2%;
list-style-type: decimal;
}
